<div class="card">
    <div class="img-wrapper">
        <img class="propImage" src="assets/images/smartphone_logo.png">
        <button class="btn btn-primary animate">Részletek</button>
        <!--
        <ul class="list-inline text-center member-icons">
            <li class="list-inline-item">
                
            </li>
        </ul>
        -->
    </div>
    <div class="card-body p-3">
        <h1>{{product.ProductName}}</h1>
        <h4>{{product.Offerer}}</h4>
        <h3>{{product.Price}}</h3>
    </div>
</div>